<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mount point</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>NSDocumentClass</key>
			<string>NGFolderProject</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mount-point</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.nexgenta.uti.construction-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Directory</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NGFolderProject</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.nexgenta.uti.construction-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Volume</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.volume</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NGFolderProject</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.nexgenta.uti.construction-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NGFolderProject</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.nexgenta.uti.construction-project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>constructionProject</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NGConstructionProject</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nexgenta.uti.construction-project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>CFBundleTypeIconFile</key>
			<string>ConstructionProject</string>
			<key>NSDocumentClass</key>
			<string>NGConstructionProject</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Xcode Project</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xcode</string>
				<string>xcodeproj</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.project</string>
			</array>
			<key>NSDocumentClass</key>
			<string>NGXcodeProject</string>
			<key>CFBundleTypeIconFile</key>
			<string>XcodeProject</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSExportableTypes</key>
			<array>
				<string>com.nexgenta.uti.construction-project</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Blueprint</string>
	<key>CFBundleIdentifier</key>
	<string>com.nexgenta.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NGBuiltinIconDocumentTypeIcons</key>
	<dict>
		<key>private.group</key>
		<string>Manilla Folder.icns</string>
		<key>wrapper.framework</key>
		<string>Framework.tiff</string>
		<key>com.apple.xcode.project</key>
		<string>XcodeProject.icns</string>
	</dict>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
		<string>i386</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.nexgenta.uti.construction-project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>constructionProject</string>
				</array>
			</dict>
			<key>UTTypeReferenceURL</key>
			<string>http://github.com/nexgenta/Foreman</string>
			<key>UTTypeDescription</key>
			<string>Construction Project</string>
			<key>UTTypeIconFile</key>
			<string>ConstructionProject</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xcodeproj</string>
					<string>xcode</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
